body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    /*font-family: 'Nunito', sans-serif;*/
}

#chatAct {
    background-image: url("../Fondos/B-Rosa.png");
    width: 74.9%;
    height: 100%;
    margin-bottom: 10px;
}

/*@media screen and (min-width: 1280px) {
    #chatAct {
        background: url(../imagenesDef/Crashea3.jpg) no-repeat center top;
        background-size: cover;
        width: 74.9%;
        height: 100%;
    }
}*/

#mensajesActuales {
    margin-top: 332px;
}

#mensajesGen {
    background-color: #2b3467;
    display: flex;
}

#habloCon {
    background-color: #2b3467;
    padding: 1%;
    padding-left: 3%;
    color: rgb(238, 235, 245)
}

.conMenP2 {
    width: 100%;
    margin-left: 50%;
    text-align: right;
}

#mensajesP2 {
    margin: 2%;
    padding-right: 2%;
    background-color: #FCFFE7;
    text-align: right;
    color: rgb(44, 38, 59);
    border-radius: 5px;
    width: 40%;
}

#mensajesP1 {
    margin: 2%;
    margin-left: 3%;
    padding-left: 2%;
    background-color: #BAD7E9;
    text-align: left;
    color: rgb(44, 38, 59);
    border-radius: 5px;
    width: 40%;
}

#tablaPersonas {
    background-image: url("../Fondos/Difuminado_2.jpg");
    width: 25%;
    color: rgb(44, 38, 59);
}

.personas {
    width: 100%;
    height: 10%;
    background-color: #2b3467bd;
    border: none;
    color: #FCFFE7;
    border: 2px solid #BAD7E9;
}

.personas:hover {
    background-color: rgb(218, 212, 235);
}

#btnEnviar {
    background-image: url(../Img/iconoEnviar.png);
    background-size: 33px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#barraMensaje {
    width: 92%;
    background-color: rgb(238, 235, 245);
}

#barraAbajo {
    display: flex;
    padding-left: 3%;
}