@media screen and (max-width:800px) 
{
    .pie-pag .grupo-1 
    {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

    }
}

@media screen and (max-width: 800px) {
    .pie-pag .grupo-1 .box
    {
        display: flex;
       align-items: center;
    }
}
